version: "3.8"

services:
  agent:
    image: portainer/agent:latest
    container_name: portainer_agent
    restart: always
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
